<!-- Title group  -->
<section>
<div class="example-flex-container">
    <a mat-list-item routerLinkActive="active" routerLink="/add-task">
        <mat-icon>add_circle</mat-icon>
      </a>
  <h3>Add Task</h3>
</div>
    </section>

<!-- No data message -->
<p *ngIf="TaskData.length <= 0" class="no-data">There is no data added yet!</p>

<!-- Books list Angular material data table -->
<div class="container" *ngIf="TaskData.length > 0">
  <div class="mat-elevation-z8">
    <ag-grid-angular
    style="width: 100%; height: 600px;"
    class="ag-theme-alpine"
    [rowData]="TaskData"
    [columnDefs]="displayedColumns"
    pagination=true
    paginationAutoPageSize=true
>
</ag-grid-angular>
  </div>
</div>
