/* screen - frame-for-export */

.frame-for-export {
  background-color: var(--bg);
  display: flex;
  height: 100vh;
  min-height: 2276px;
  min-width: 1920px;
  width: 100%;
}

.frame-for-export .group-60 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 240px;
  margin-top: 70px;
  width: 1680px;
  z-index: 1;
}

.frame-for-export .group-61 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: space-between;
  max-height: 103px;
}

.frame-for-export .title {
  color: var(--heading);
  font-weight: 700;
  height: 36px;
  line-height: 28px;
  margin-bottom: -15.6px;
  margin-left: 30px;
  white-space: nowrap;
  width: 138px;
}

.frame-for-export .button-add-48px {
  align-items: center;
  background-color: var(--accent);
  border-radius: 24px;
  box-shadow: 0px 8px 20px #0593ff33;
  display: flex;
  height: 48px;
  margin-bottom: -23.6px;
  margin-right: 35px;
  min-width: 48px;
  padding: 0 18px;
}

.frame-for-export .plus {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/6251d4f808c0395c4275ba41/img/plus@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  width: 12px;
}

.frame-for-export .group-64 {
  display: flex;
  flex: 1;
  max-height: 899px;
}

.frame-for-export .group-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 692px;
  margin-top: 250.6px;
  min-height: 199.41px;
  width: 298px;
}

.frame-for-export .announcement_black_24dp {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/62642b09798f60bd6abd24c4/img/path-2102-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 97px;
  margin-right: 1.63px;
  opacity: 0.4;
  width: 97px;
}

.frame-for-export .path-2103 {
  flex: 1;
  margin-bottom: 8.1px;
  margin-left: 8.1px;
  margin-right: 8.1px;
  margin-top: 8.1px;
  object-fit: cover;
  width: 80.65px;
}

.frame-for-export .overlap-group {
  height: 60px;
  margin-top: 47px;
  position: relative;
  width: 298px;
}

.frame-for-export .oops-theres-nothing-here {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 0.4;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.frame-for-export .whose-fault-is-that {
  left: 43px;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 0.4;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.frame-for-export .stratified-left-nav {
  align-items: flex-start;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100%;
  padding: 16px 0;
  position: fixed;
  top: 0;
  width: 240px;
  z-index: 2;
}

.frame-for-export .stratified-logo-1-1 {
  height: 36px;
  margin-left: 19px;
  object-fit: cover;
  width: 132px;
}

.frame-for-export .group-62 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 192px;
  width: 240px;
}

.frame-for-export .left-nav-no-expand {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/626430155cb4a308c2b5560f/img/bg-1-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 240px;
}

.frame-for-export .active {
  height: 48px;
  object-fit: cover;
  width: 4px;
}

.frame-for-export .grid {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 16px;
  opacity: 0.7;
}

.frame-for-export .path-container {
  height: 16px;
  margin-bottom: 0;
  position: relative;
  width: 16px;
}

.frame-for-export .path-20 {
  height: 7px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 7px;
}

.frame-for-export .path-21 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 16px;
}

.frame-for-export .dashboard {
  color: var(--accent);
  font-weight: 500;
  line-height: 15px;
  margin-left: 14px;
  margin-top: 6.0px;
  min-height: 20px;
  min-width: 75px;
  white-space: nowrap;
}

.frame-for-export .left-nav-expand-1 {
  align-items: center;
  display: flex;
  height: 48px;
  min-width: 240px;
  padding: 11.5px 24.0px;
}

.frame-for-export .icon-folder {
  height: 15px;
  margin-top: 0.55px;
  object-fit: cover;
  width: 16px;
}

.frame-for-export .place {
  align-self: flex-end;
  color: var(--heading);
  font-weight: 500;
  line-height: 15px;
  margin-left: 14px;
  min-height: 20px;
  min-width: 55px;
  white-space: nowrap;
}

.frame-for-export .arrow-right-2-1 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 99px;
  min-width: 6px;
}

.frame-for-export .arrow-right-2 {
  height: 10px;
  margin-bottom: 0;
  object-fit: cover;
  width: 6px;
}

.frame-for-export .left-nav-expand {
  align-items: center;
  display: flex;
  height: 48px;
  min-width: 240px;
  padding: 11px 24.0px;
}

.frame-for-export .tasks {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/6251d4f808c0395c4275ba41/img/tasks@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  margin-top: 0;
  width: 16px;
}

.frame-for-export .to-do {
  align-self: flex-end;
  color: var(--heading);
  font-weight: 500;
  line-height: 15px;
  margin-left: 14px;
  min-height: 20px;
  min-width: 36px;
  white-space: nowrap;
}

.frame-for-export .arrow-right-2-2 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 118px;
  min-width: 6px;
}

.frame-for-export .icon-settings {
  height: 16px;
  margin-bottom: 1.0px;
  object-fit: cover;
  width: 16px;
}

.frame-for-export .settings {
  align-self: flex-end;
  color: var(--heading);
  font-weight: 500;
  line-height: 15px;
  margin-left: 14px;
  min-height: 20px;
  min-width: 57px;
  white-space: nowrap;
}

.frame-for-export .arrow-right-2-3 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 97px;
  min-width: 6px;
}

.frame-for-export .divider-basic {
  background-color: var(--grey-300);
  height: 1px;
  margin-left: -272.5px;
  margin-top: 238px;
  transform: rotate(90deg);
  width: 1024px;
}

.frame-for-export .top-bar {
  align-items: center;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  left: 240px;
  min-height: 70px;
  position: fixed;
  top: 0;
  width: calc(100.00% - 240px);
  z-index: 3;
}

.frame-for-export .flex-row {
  align-items: center;
  display: flex;
  margin-top: 11px;
  min-width: 1620px;
}

.frame-for-export .menu {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/6251d4f808c0395c4275ba41/img/menu@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 12px;
  width: 16px;
}

.frame-for-export .input-search {
  background-color: var(--grey-100);
  border-radius: 8px;
  display: flex;
  height: 48px;
  margin-left: 27px;
  width: 300px;
}

.frame-for-export .search {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/6251d4f808c0395c4275ba41/img/search-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  margin-left: 16px;
}

.frame-for-export .search-1 {
  align-self: flex-end;
  color: var(--body-light);
  font-weight: 400;
  height: 20px;
  line-height: 15px;
  margin-bottom: -7.5px;
  margin-left: 12px;
  white-space: nowrap;
  width: 60px;
}

.frame-for-export .help_outline_black_24dp {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/62642b09798f60bd6abd24c4/img/path-2092-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 21px;
  margin-left: 1057px;
  margin-top: 1.0px;
  width: 21px;
}

.frame-for-export .path-2093 {
  flex: 1;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  object-fit: cover;
  width: 17px;
}

.frame-for-export .divider-basic-1 {
  background-color: var(--grey-300);
  height: 1px;
  margin-left: 9px;
  transform: rotate(90deg);
  width: 32px;
}

.frame-for-export .user {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
  width: 150px;
}

.frame-for-export .avatar-40px-1 {
  display: flex;
  height: 40px;
  margin-right: 16px;
  width: 40px;
}

.frame-for-export .avatar {
  align-items: flex-end;
  background-color: var(--green);
  border-radius: 20px;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  min-width: 40px;
  padding: 0 4.7px;
}

.frame-for-export .overlap-group-1 {
  height: 34px;
  margin-bottom: 0;
  position: relative;
  width: 29px;
}

.frame-for-export .path-902 {
  height: 19px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 24px;
}

.frame-for-export .intersection-1 {
  height: 14px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 18px;
}

.frame-for-export .path-904 {
  height: 23px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 22px;
}

.frame-for-export .path-905 {
  height: 2px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 2px;
}

.frame-for-export .path-906 {
  height: 1px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.frame-for-export .name {
  color: var(--heading);
  font-weight: 500;
  height: 20px;
  line-height: 15px;
  margin-bottom: -6.5px;
  margin-right: 8px;
  text-align: center;
  white-space: nowrap;
  width: 78px;
}

.frame-for-export .arrow-down-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/6251d4d07732a4ba29e52245/releases/6251d4f808c0395c4275ba41/img/arrow-down-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 4.74px;
  margin-bottom: -2.1px;
  width: 8px;
}

.frame-for-export .divider-basic-2 {
  background-color: var(--grey-300);
  height: 1px;
  margin-top: 10px;
  width: 1680px;
}
