<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Content</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="false"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/dashboard">
        <mat-icon>assessment</mat-icon> Dashboard
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/content-list">
        <mat-icon>auto_awesome_mosaic</mat-icon> Content
      </a>
       <a mat-list-item routerLinkActive="active" routerLink="/tasks">
        <mat-icon>task</mat-icon> Tasks
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-note">
        <mat-icon>task</mat-icon> Add Notes
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

